.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  border: 5px solid #ff69b4; 
  object-fit: cover; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.context {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.context h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px; 
}

.context p {
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
}

.context button {
  background-color: #fd6c81;
  padding: 15px;
  font-size: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button:hover {
  color: white;
  background-color: #feb5ca;
}
