.header {
  width: 100%;
  padding: 18px;
  background: linear-gradient(to right, #ff6b81, #4cd4a9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #feb5ca;
  width: 50%;
  height: 60px;
  border-radius: 12px;
  flex-wrap: wrap;
}

button {
  border: none;
  background-color: #feb5ca;
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  font-family: "Comic Neue", cursive;
  font-style: normal;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  color: #df3e56;
  border-bottom: 2px solid #ff6b81;
}

.buttons a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* Tablet */
@media (max-width: 768px) {
  .buttons {
    width: 70%;
    gap: 25px;
    height: auto;
    padding: 10px;
  }

  button {
    font-size: 16px;
  }
}

/* Celular */
@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
    width: 90%;
    gap: 15px;
    padding: 12px;
    height: auto;
  }

  button {
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
  }
}
